body {
  font: normal 16px sans-serif;
  font-family: "Tenor Sans", sans-serif;
  user-select: none;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  color: #58595a;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: #85878c;
}

.container_pm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}


@media screen and (max-width: 600px) {
  .container_pm {
    display: flex;
    flex-direction: column;
  }

  .obj {
    min-width: 70%;
  }

  .gallery-container h1 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .container_pm {
    display: flex;
    gap: 20px;
  }

  .obj {
    overflow: hidden;
    max-width: 50%;
  }
}

.obj img {
  max-width: 100%;
  max-height: 250px;
  border-radius: 15px;
}
