body {
  font-family: "Cormorant Infant", serif;
  font-size: 21px;
  user-select: none;
}

h1 {
  text-align: center;
  margin-top: 80px;
  color: #58595a;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: #85878c;
}

.container_pm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

@media screen and (max-width: 600px) {
  .container_pm {
    display: flex;
    flex-direction: column;
  }

  .obj {
    min-width: 70%;
  }

  .gallery-container h1 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .container_pm {
    display: flex;
    gap: 20px;
  }

  .obj {
    max-width: 50%;
  }
}

.obj img {
  max-width: 100%;
  max-height: 250px;
  border-radius: 15px;
  box-shadow: 0 0 20px #181616;
  transition: 0.5s;
}

.obj img:hover {
  box-shadow: 0 0 20px #c5a4a0a1;
  transition: 0.5s;
}
