body {
  font: normal 16px sans-serif;
  font-family: "Tenor Sans", sans-serif;
  user-select: none;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  color: #58595a;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: #85878c;
}


.container_pm {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .container_pm {
    display: flex;
    flex-direction: column;
    
  }

  .obj {
    min-width: 70%;
  }

  header {
    min-height: 200px;
    max-height: 100%;
}
 
  }
    

.obj {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  overflow: hidden;
  border-radius: 10px;
}


.obj img {
  max-width: 100%;
  max-height: 250px;
  border-radius: 15px;
}
